
Makefile~
ConfigFile.ini
README.private
Reports.py
Reports.py.bak
ashaninkamorph.sh
*.bin
bash-ini-parser
compile.log
employee.txt
failures.all
failures.sorted
failures.old.sorted
generated_states_transitions/
mpdf
mpdf.analyzed.log
mpdf.log
mycorpus.01-12-2014.txt
mycorpus.07-03-2015.txt
mycorpus.08-10-2014.txt
mycorpus.21-10-2014.txt
mycorpus.*-*-*.txt
mycorpus.txt
n-s-2.foma
n-s-3.foma

test
test.text.morph.txt
test.text.txt
test.text.txt.bak
v-n.foma
v-s-1.foma
v-s-2.foma
v-s-3.foma
v-s-4.foma
v-s-5.foma
v-s-6.foma
v-s-7.foma
*.*~
